﻿@{
	Layout = "~/EP/_Error.cshtml";
	Page.Title = "404";
}


@section head{
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link href="~/css/Error.css" rel="stylesheet" />
}

@section main {
	<div class="container">
		<div class="row text-center" id="err">
			<div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
				<div class="row">
					<div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
						<h1 class="m-0">404</h1>
						<h6>Page not found</h6>
						<p><a href="../">Return to main page </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
}