﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" style="border-radius:0px;">
			<a class="navbar-brand" href="../">SQnet</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					@if (Page.Title == "Home")
					{
						<li class="nav-item active"><a class="nav-link" href="../">Home</a></li>
					}
					else
					{
						<li class="nav-item"><a class="nav-link" href="../">Home</a></li>
					}
					@if (Page.Title == "About")
					{
						<li class="nav-item active"><a class="nav-link" href="~/About">About</a></li>
					}
					else
					{
						<li class="nav-item"><a class="nav-link" href="~/About">About</a></li>
					}
					@if (Page.Title == "Contact")
					{
						<li class="nav-item active"><a class="nav-link" href="~/Contact">Contact</a></li>
					}
					else
					{
						<li class="nav-item"><a class="nav-link" href="~/Contact">Contact</a></li>
					}
					@if (Page.Title == "Profile" && Session["Login"] != null)
					{
						<li class="nav-item active"><a class="nav-link" href="~/Profile">Profile</a></li>
					}
					else
					{
						<li class="nav-item"><a class="nav-link" href="~/Profile">Profile</a></li>
					}
					@if (Page.Title == "Panel" && Session["Login"] != null)
					{
						<li class="nav-item active"><a class="nav-link" href="~/Panel">Panel</a></li>
					}
					else
					{
						<li class="nav-item"><a class="nav-link" href="~/Panel">Panel</a></li>
					}
				</ul>
				@if (Session["Login"] != null)
				{
					<form class="form-inline">
					</form>
				}


			</div>
		</nav>
		@RenderSection("main", required: false)
		<footer class="footer">
			<div class="container">
				<span class="text-muted">&copy; @DateTime.Now.Year by <a href="https://github.com/Yarakami">Yarakami</a></span>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-119173575-1"></script>
		<script src="~/js/Site.js"></script>
	</body>

</html>
