﻿@{
	Layout = "~/_Layout.cshtml";
	Page.Title = "Panel";
}
@using System.Data.SqlClient
@using System.Configuration;


@section featured {
		@if (Session["Login"] == null)
		{
			Response.Redirect("/Profile");
		}
		@if (Session["Login"] != null)
		{
			<br />
			<div class="row">
				<div class="col">
					<form method="post">
					<div class="form-group">
						<h5>Create user account</h5>
						<label for="usr">Login:</label>
						<input type="text" class="form-control form-control-sm" required="" name="u-nm">
					</div>
					<div class="form-group">
						<label for="pass">Password:</label>
						<input type="text" class="form-control form-control-sm" required="" name="u-pwd">
					</div>
					<div class="form-group">
						<label for="usr">Lvl:</label>
						<input type="text" class="form-control form-control-sm" required="" name="u-lvl">
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-secondary" value="Stwórz" name="u_create">
						@if (Request.Form["u_create"] != null)
						{
							var ulog = Request.Form["u-nm"];
							var upas = Request.Form["u-pwd"];
							var lvl = Request.Form["u-lvl"];
							if (String.IsNullOrEmpty(ulog) || String.IsNullOrEmpty(upas) || String.IsNullOrEmpty(lvl))
							{
							}
							else
							{
								SqlConnection conlist = new SqlConnection(ConfigurationManager.ConnectionStrings["conn"].ToString());
								conlist.Open();
								string sstr = "INSERT INTO logins(login, pass, lvl) VALUES('" + ulog + "','" + upas + "','" + lvl + "')";
								SqlCommand cmdcc = new SqlCommand(sstr, conlist);
								string output = cmdcc.ExecuteScalar() as string;
								conlist.Close();
							}
						}
					</div>
					</form>
				</div>
				<div class="col">
					<form method="post">
					<div class="form-group">
						<h5>Delete user account</h5>
						<label for="usr">Login:</label>
						<input type="text" class="form-control form-control-sm" required="" name="u-mn-td">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-secondary" value="Usuń" name="u_delete">
						@if (Request.Form["u_delete"] != null)
						{
							var ulogd = Request.Form["u-mn-td"];
							if (String.IsNullOrEmpty(ulogd) || ulogd == "Admin")
							{

							}
							else
							{
								SqlConnection con = new SqlConnection(ConfigurationManager.ConnectionStrings["conn"].ToString());
								con.Open();
								string query = "delete from logins where login='" + ulogd + "';";
								SqlCommand cmdcc = new SqlCommand(query, con);
								string output = cmdcc.ExecuteScalar() as string;
								con.Close();
							}
						}
					</div>
					<div class="form-group">
						@if (Session["Login"] != null)
						{
							SqlConnection conlist = new SqlConnection(ConfigurationManager.ConnectionStrings["conn"].ToString());
							conlist.Open();
							string sstr = "SELECT COUNT(id) FROM logins;";
							SqlCommand cmdcc = new SqlCommand(sstr, conlist);
							Int32 counttt = (Int32)cmdcc.ExecuteScalar();
							conlist.Close();
							<br />
							<h5>Liczba kont: @counttt </h5>
						}
					</div>
					</form>
				</div>
				<div class="w-100"></div>
				<div class="col">
					@if (Session["Login"] != null)
					{
						SqlConnection conlist = new SqlConnection(ConfigurationManager.ConnectionStrings["conn"].ToString());
						conlist.Open();
						string sstr = "SELECT login, lvl FROM logins;";
						SqlCommand cmdcc = new SqlCommand(sstr, conlist);
						SqlDataReader reader = cmdcc.ExecuteReader();
						if (reader.HasRows)
						{
							<br />
							<h5>Konta i lvl</h5>
							<table class="table">
								<tbody>
									@while (reader.Read())
									{
										int aa = reader.GetInt32(1);
										string aaa = reader.GetString(0);

										<tr>
											<th scope="row">@aaa</th>
											<td>@aa</td>
										</tr>
									}
								</tbody>
							</table>
						}
						reader.Close();
						conlist.Close();
					}
				</div>
				<div class="col">
				</div>
			</div>
		}



	}