﻿@{
	Layout = "~/_Layout.cshtml";
	Page.Title = "Profile";
}
@using System.Data.SqlClient
@using System.Configuration;


@section featured {
	@if (Session["Login"] == null)
	{
		<form method="post">
		<br />
		<div class="form-group">
			<label for="usr">Login:</label>
			<input type="text" class="form-control form-control-sm" required="" name="usr">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control form-control-sm" required="" name="pwd">
		</div>
		<div class="form-group">
			<div class="g-recaptcha" data-sitekey="6LdtwFgUAAAAAEk-soCA336zuf2uFjMMxxOI1_94"></div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-secondary" value="Login" name="u_login">
			@if (Request.Form["u_login"] != null)
			{
				var log = Request.Form["usr"];
				var pas = Request.Form["pwd"];
				var encodedResponse = Request.Form["g-Recaptcha-Response"];
				if (String.IsNullOrEmpty(log) || String.IsNullOrEmpty(pas) || string.IsNullOrEmpty(encodedResponse))
				{
					Session.Clear();
					Session.Abandon();
				}
				else
				{
					SqlConnection con = new SqlConnection(ConfigurationManager.ConnectionStrings["conn"].ToString());
					con.Open();
					string query = "select * from logins where login='" + log + "'and pass='" + pas + "'";
					SqlCommand cmd = new SqlCommand(query, con);
					string output = cmd.ExecuteScalar() as string;


					if (output == null)
					{
						con.Close();
						Session.Clear();
						Session.Abandon();
						Response.Redirect("/Panel");
					}
					else
					{
						con.Close();
						con.Open();
						string queryy = "SELECT lvl FROM logins where login='"+log+"';";
						SqlCommand cmdcc = new SqlCommand(queryy, con);
						SqlDataReader reader = cmdcc.ExecuteReader();
						if (reader.HasRows)
						{
							while (reader.Read())
							{
								int aa = reader.GetInt32(0);
								Session["Lvl"] = aa;
							}
						}
						Session["Login"] = output as string;
						Session.Timeout = 30;
						Response.Redirect("/");

					}
				}
			}
		</div>
		</form>
	}
	@if (Session["Login"] != null)
	{
		<form method="post">
		<br />
		<div class="row"> 
			<div class="col">				
				<div class="form-group">
					<h4>Usen name:</h4>
					<label for="usr">@Session["Login"].ToString()</label>
				</div>
				<div class="form-group">
					<h4>Lvl:</h4>
					<label for="usr">@Session["Lvl"].ToString()</label>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<h4>Logout</h4>
				</div>
				<div class="form-group">
						<input type="submit" class="btn btn-secondary" value="Logout" name="usr_logout">
						@if (Request.Form["usr_logout"] != null)
						{
							Session.Clear();
							Session.Abandon();
							Response.Redirect("/");
						}
				</div>				
			</div>					
		</div>
		</form>	
	}
}