﻿html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #343a40;
}

body > .container {
	display: table;
	height: 100px;
	width: 100%;
	text-align: center;
	min-height: 584px;
}

#err {
	display: table-cell;
	vertical-align: middle;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

center {
	display: none;
}


