﻿html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #343a40;
}

body > .container {
	padding: 60px 15px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

nav {
	display: block;
}

.nav-item active .nav-link {
	background-color: aqua;
}

center {
	display: none;
}

.col {
	margin-bottom: 50px;
	margin-left: 15px;
	margin-right: 15px;
	min-width: 250px;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.form-group {
	margin-top: 1rem;
}